/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f9f9f9;
    color:#333;
    line-height:1.6;
}

img{
    width:100%;
    display:block;
}

a{
    text-decoration:none;
    color:inherit;
}

ul{
    list-style:none;
}

.container{
    width:90%;
    max-width:120vh;
    margin:auto;
}

.section{
    padding:4vh 0;
}

.title{
    text-align:center;
    margin-bottom:2rem;
    color: #333;
}
.main{
    background-image: url(/img/hero/background.avif);
    background-size: cover;
}