<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Productos | EcoMarket</title>

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/components.css">
    <link rel="stylesheet" href="../css/animations.css">
</head>

<body>

<header>
    <div class="container navbar">

        <h1 class="logo">EcoMarket</h1>

        <nav>
            <input type="checkbox" id="menu-toggle">
            <label for="menu-toggle" class="menu-icon">
                ☰
            </label>
            <ul class="nav-links">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="sobre_nosotros.html">Nosotros</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>

    </div>
</header>

<main class="container section">

        <section>

            <div class="products-grid">

                <!-- PRODUCTO -->
                <article class="card">
                    <img src="../img/products/producto_ecologico_1.png" alt="Producto">

                    <div class="card-content">
                        <h3>Botella Ecológica</h3>

                        <p class="price">$20</p>

                        <span>En Stock</span>

                        <br><br>

                        <button class="favorite-btn">❤</button>
                    </div>
                </article>
                <article class="card">
                    <img src="../img/products/producto_ecologico_2.png" alt="Producto">

                    <div class="card-content">
                        <h3>Botella Ecológica</h3>

                        <p class="price">$20</p>

                        <span>En Stock</span>

                        <br><br>

                        <button class="favorite-btn">❤</button>
                    </div>
                </article>
                <article class="card">
                    <img src="../img/products/producto_ecologico_3.png" alt="Producto">

                    <div class="card-content">
                        <h3>Botella Ecológica</h3>

                        <p class="price">$20</p>

                        <span>En Stock</span>

                        <br><br>

                        <button class="favorite-btn">❤</button>
                    </div>
                </article>
                <article class="card">
                    <img src="../img/products/producto_ecologico_4.png" alt="Producto">

                    <div class="card-content">
                        <h3>Botella Ecológica</h3>

                        <p class="price">$20</p>

                        <span>En Stock</span>

                        <br><br>

                        <button class="favorite-btn">❤</button>
                    </div>
                </article>
                <article class="card">
                    <img src="../img/products/producto_ecologico_5.png" alt="Producto">

                    <div class="card-content">
                        <h3>Botella Ecológica</h3>

                        <p class="price">$20</p>

                        <span>En Stock</span>

                        <br><br>

                        <button class="favorite-btn">❤</button>
                    </div>
                </article>
                <article class="card">
                    <img src="../img/products/producto_ecologico_6.png" alt="Producto">

                    <div class="card-content">
                        <h3>Botella Ecológica</h3>

                        <p class="price">$20</p>

                        <span>En Stock</span>

                        <br><br>

                        <button class="favorite-btn">❤</button>
                    </div>
                </article>
            </div>

        </section>

</main>

<footer>
    <div class="container footer-content">

        <div>
            <h3>EcoMarket</h3>
            <p>Compras sostenibles.</p>
        </div>

        <div>
            <h3>Legal</h3>
            <p>Privacidad</p>
            <p>Términos</p>
        </div>

        <div class="socials">
            <h3>Redes</h3>

            <a href="#">📘</a>
            <a href="#">📷</a>
            <a href="#">🌎</a>
        </div>

    </div>
</footer>

</body>
</html>